body {
    background-color: #181a1bff !important;
    /* color: #787a7aff; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.quiz-answer-card:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.button-style {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}